python-tk
python-simplejson
python-dxdiff
python-pygraphviz
python-lxml-dbg
python-gtk2
python-numpy
python-matplotlib
python-lxml
libxml2-utils
python
python-gtksourceview2
python-glade2
python-networkx
python-argcomplete
