
/*-- Begin: Page Layout --*/
body {
  background: #fff;
  color: #111;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-family: Verdana, Arial, sans-serif;
}
a:link, a:active {
  color: #36415c;
}
a:visited {
  color: #666666;
}
a:hover {
  color: #888;
}
/*-- End: Page Layout --*/


#labels a:link {
  color: #444;
}

#labels a:visited {
  color: #444;
}

#labels a:hover {
  color: #444;
}



pre {
  margin-left: 10px;
  background: #eeeedd;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-color: #ccc;
  width: 90%;
  padding: 10px 10px 10px 10px;
}

